ul {
    li {
        a {
            color: #666;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
        }
    }
}
img {
        height: 600px;
        width: auto;
        margin: auto;
        display: block;
}
h3 {
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 20px;
    color: #5f5e5e;
    font-weight: 600;
}
.tags {
    span {
        a {
            color: red;
        padding-left: 5px;
        }
        &:after {
            content: ','
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
}
h2.title-product {
    color: #333;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
}
.gia {
    font-weight: 700;
    color: #666;
    padding: 10px 0 0;
    font-size: 20px;
    margin-bottom: 10px;
}
.cart {
    padding: 5px 0;
    margin: 10px 0;
    border: 1px solid #666;
    border-width: 1px 0;
    ion-button {
        text-transform: uppercase;
        margin-right: 10px;
    }
}