<ion-content padding>
  <ul>
    <li>
        <a routerLink='/home'><ion-button color='primary'>Home
        </ion-button></a>
    </li>
  </ul>
  <h4 *ngIf="!product">
    Loading...
  </h4>

  <ion-card *ngIf="product">
      <h3>Trang chi tiết sản phẩm</h3>
    <ion-grid>
      <ion-row>
        <ion-col size-xs='12' size-sm='12' size-md='6' flex align-item-center justify-content-center>
          <ion-card-header>
            <img class='image' src="{{product?.featured_image}}">
          </ion-card-header>
        </ion-col>
        <ion-col size-xs='12' size-sm='12' size-md='6'>
         
          <ion-card-content>
              <h2 class="title-product">
                  {{product?.title}}
                </h2>
            <div class="gia">
                {{product?.variants[0].price / 1000 | number}}₫
            </div>
            <div class="tags">
                <strong>Tags:</strong>
                <span *ngFor="let i of product?.tags"> <a href="#">{{i}}</a></span>
            </div>
            <div class="cart">
                <ion-button color='danger'>Thêm vào giỏ hàng</ion-button>
                <ion-button color='danger' fill='outline'>Mua ngay</ion-button>
              </div>
            
              <div [innerHTML]="product?.metadescription">
             
              </div>
          </ion-card-content>
          
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>