/* ------------ declaring color variables ------------ */
$colorBorder: #e6e6e6;
$colorPrimary: #cd1818;
$colorSecondary: #333333;

$colorTextHeader: #ffffff;
$colorTextHeaderHover: #ffffff;
$colorBgHeader: #cd1818;

$colorTextDropdown: #333333;
$colorTextDropdownHover: #cd1818;
$colorBgDropdown: #ffffff;

$colorTextNavbar: #ffffff;
$colorTextNavbarHover: #ffffff;
$colorBgNavbar: #333333;

$colorTextBody: #333333;
$colorBody: #f0f0f0;

$colorTextFooter: #333333;
$colorTextFooterHover: #cd1818;
$colorTextFooterTitle: #333333;
$colorBgFooter: #ffffff;

$colorTextCopyrights: #999999;
$colorTextCopyrightsHover: #cd1818;
$colorBgCopyrights: #f8f8f8;
/* ------------ declaring inheritance ------------ */
%text-12 {
	font-size: 12px;
}

%text-14 {
	font-size: 14px;
}

%text-16 {
	font-size: 16px;
}

%text-18 {
	font-size: 18px;
}

%text-20 {
	font-size: 20px;
}

%text-24 {
	font-size: 24px;
}

%text-bold {
	font-weight: bold;
}

%text-justify {
	text-align: justify !important;
}

%text-uppercase {
	text-transform: uppercase !important;
}

%smooth-trans {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

%smooth-trans1 {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}