// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./extend-styles.scss";
html.md {
    --ion-default-font: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

html.ios {
    --ion-default-font: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

body {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    outline: 0px;
}

img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
}

.sidebar-sort {
    .no-bullets {
        li {
            input[type="checkbox"] {
                margin: 0 8px 0 0;
                -webkit-appearance: checkbox;
                -moz-appearance: checkbox;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                background: none;
                border: 1px solid #c3c3c3;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
                &:focus {
                    outline: none;
                }
                &:checked {
                    width: 16px;
                    height: 16px;
                    &:after {
                        content: '\2714';
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        display: block;
                        outline: none;
                        color: $colorPrimary;
                        outline: 1px solid #fff;
                    }
                }
            }
            input[type="radio"] {
                margin: 0 8px 0 0;
                -webkit-appearance: checkbox;
                -moz-appearance: checkbox;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                background: none;
                border: 1px solid #c3c3c3;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
                &:focus {
                    outline: none;
                }
                &:checked {
                    width: 16px;
                    height: 16px;
                    &:after {
                        content: '\2714';
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        display: block;
                        outline: none;
                        color: $colorPrimary;
                        outline: 1px solid #fff;
                    }
                }
            }
        }
    }
}

.pagination-custom {
    >span {
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin: 10px 5px;
        border-radius: 5px;
        &.current {
            >a {
                padding: 0px !important;
                @extend %text-18;
                @extend %text-bold;
                color: #fff;
                background: $colorPrimary;
                border: 1px solid $colorPrimary;
            }
        }
        >a {
            border-radius: 5px;
            padding: 0px;
            display: inline-block;
            text-align: center;
            height: 40px;
            line-height: 40px;
            width: 40px;
            padding: 0px;
            @extend %text-18;
            @extend %text-bold;
            @extend %smooth-trans;
            color: $colorTextBody;
            border: 1px solid #f3f3f3;
            background: #f8f8f9;
            &:hover {
                color: #fff;
                background: $colorPrimary;
                border: 1px solid $colorPrimary;
            }
        }
    }
}

#pagination-page {
    clear: left;
    margin: 0px;
}

.pagination {
    clear: left;
    margin: 0px;
}

/* ------------ customize grid ------------ */

.wrapper {
    *zoom: 1;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper:after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (min-width: 480px) {
    .wrapper {
        padding: 0 30px;
    }
}

@media screen and (min-width: 1200px) {
    .xl-hide {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .lg-hide {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .md-hide {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sm-hide {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .xs-hide {
        display: none;
    }
}

.grid {
    margin-left: -30px;
}

.grid__item {
    padding-left: 30px;
}

.mg-bottom-10 {
    margin-bottom: 10px !important;
}

.mg-bottom-30 {
    margin-bottom: 30px !important;
}

.mg-bottom-50 {
    margin-bottom: 50px !important;
}

.mg-left-0 {
    margin-left: 0 !important;
}

.mg-left-5 {
    margin-left: -5px !important;
}

.mg-left-10 {
    margin-left: -10px !important;
}

.mg-left-15 {
    margin-left: -15px !important;
}

.pd-left0 {
    padding-left: 0 !important;
}

.pd-left5 {
    padding-left: 5px !important;
}

.pd-left10 {
    padding-left: 10px !important;
}

.pd-left15 {
    padding-left: 15px !important;
}

@media (max-width: 768px) {
    body .md-mg-left-5 {
        margin-left: -5px !important;
    }
    body .md-pd-left5 {
        padding-left: 5px !important;
    }
    body .md-mg-left-10 {
        margin-left: -10px !important;
    }
    body .md-pd-left10 {
        padding-left: 10px !important;
    }
    body .md-mg-left-15 {
        margin-left: -15px !important;
    }
    body .md-pd-left15 {
        padding-left: 15px !important;
    }
}