<section id="home-collection4" class="home-collection">
  <div class="wrapper">
    <div class="inner">
      <div class="home-section-head">
        <ion-grid no-padding>
          <ion-row class="grid mg-left-10">
            <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="grid__item pd-left10">
              <h2 class="section-title">
                Colection từ API Suplo Foot All
              </h2>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
      <div class="home-section-body">
        <ion-grid no-padding>
          <ion-item>
            <ion-label>Sắp xếp:</ion-label>
            <ion-select (ionChange)="loadData($event.detail.value)" placeholder="Tùy chọn">
              <ion-select-option value="price-ascending">Tăng dần</ion-select-option>
              <ion-select-option value="price-descending">Giảm dần</ion-select-option>
              <ion-select-option value='created-descending'>Mới nhất</ion-select-option>
              <ion-select-option value='best-selling'>Bán chạy nhất</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-row class="grid mg-left-0">
            <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="6" class="grid__item pd-left0" *ngFor='let product of collection?.products'>
              <!-- *ngFor='let product of ProductList' -->
              <div class="product-item">
                <div class="product-img">
                  <a routerLink="/chitiet/{{product.handle}}">
                    <img alt="Trang sức Mặt dây chuyền " src="{{product.featured_image}}">
                  </a>
                </div>
                <div class="product-item-info">
                  <div class="product-title">
                    <a routerLink="/chitiet/{{product.handle}}" style='display: block;' text-center>{{product.title}}</a>
                  </div>
                  <div class="product-price clearfix">
                    <span class="current-price" style='display: block;' text-center> {{product.price_format}}</span>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <ul class='page-number'>
    <li id='prevPage'><a ><svg class="svg-inline--fa fa-angle-double-left fa-w-14" aria-hidden="true" data-prefix="fa"
          data-icon="angle-double-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
          data-fa-i2svg="">
          <path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path>
        </svg></a></li>
    <li *ngFor='let num of pages' id='{{num.number}}'><a routerLink="/collections/all?page={{num.number}}">{{num.number}}</a></li>
    <li id='nextPage'><a (click)='next()'><svg class="svg-inline--fa fa-angle-double-right fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="angle-double-right"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
          <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"></path>
        </svg>
      </a></li>
  </ul>
</section>

 