@import '../../../extend-styles.scss';
@media (max-width:480px) {
    .home-section-head h2 {
        text-align: center !important;
    }
}

a {
    text-decoration: none;
}

.home-section-head {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid $colorBorder;
    h2 {
        @extend %text-18;
        @extend %text-bold;
        @extend %text-uppercase;
        color: $colorTextBody;
        margin: 0px;
        padding: 0px;
    }
}

.home-section-body {
    background: #fff;
}

@media (max-width:768px) {
    .home-collection {
        .home-collection-menu {
            text-align: left !important;
        }
    }
}

.home-collection {
    padding-bottom: 10px;
    background: $colorBody;
    .home-collection-menu {
        margin: 0px;
        text-align: right;
        >li {
            display: inline-block;
            margin: 0px 10px 0px 0px;
            &:last-child {
                margin: 0px;
                >a {
                    @extend %text-bold;
                    color: $colorPrimary;
                }
            }
            >a {
                display: inline-block;
                color: $colorTextBody;
                @extend %smooth-trans;
                &:hover {
                    color: $colorPrimary;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .product-item {
        .product-title a {
            font-size: 14px !important;
            min-height: auto !important;
        }
        .product-price {
            .current-price {
                font-size: 16px !important;
            }
            .original-price {
                font-size: 14px !important;
            }
        }
    }
}

.product-item {
    padding: 10px;
    background: #fff;
    border: 1px solid $colorBorder;
    @extend %smooth-trans;
    @extend %text-14;
    text-align: left;
    &:hover {
        border: 1px solid $colorPrimary;
        .product-img {
            a img {
                transform: scale(1.05);
            }
        }
    }
    .product-img {
        position: relative;
        margin-bottom: 5px;
        a {
            display: block;
            overflow: hidden;
            img {
                width: 100%;
                @extend %smooth-trans;
            }
        }
        .tag-saleoff {
            position: absolute;
            top: 0;
            left: 0;
            background: $colorPrimary;
            color: #fff;
            @extend %text-bold;
            @extend %text-uppercase;
            width: 50px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .tag-soldout {
            position: absolute;
            top: 0;
            right: 0;
            background: $colorPrimary;
            color: #fff;
            @extend %text-bold;
            @extend %text-uppercase;
            width: 50px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
    }
    .product-title {
        a {
            display: inline-block;
            @extend %smooth-trans;
            @extend %text-16;
            color: $colorTextBody;
            min-height: 50px;
            &:hover {
                color: $colorPrimary;
            }
        }
    }
    .product-price {
        >span {
            display: inline-block;
            &.current-price {
                @extend %text-bold;
                @extend %text-18;
                color: $colorPrimary;
            }
            &.original-price {
                margin-left: 3px;
                @extend %text-16;
                color: lighten($colorTextBody, 20%);
            }
        }
    }
}

.page-number {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    li {
        margin: 0 5px;
        a {
            border-radius: 5px;
            padding: 0px;
            display: inline-block;
            text-align: center;
            height: 40px;
            line-height: 40px;
            width: 40px;
            padding: 0px;
            color: #333333;
            border: 1px solid #f3f3f3;
            background: #f8f8f9;
            transition: all .3s ease;
            svg {
                width: .875em;
            }
            &:hover {
                color: #fff;
                background: #cd1818;
                border: 1px solid #cd1818;
            }
        }
    }
}
.active-color {
    color: #fff;
    background: #cd1818;
    border: 1px solid #cd1818;
}